html * {
  font-family: "Consolas", monospace;

  margin: 0;
  padding: 0;
  background-color: white;
}

.main {
  position: fixed;
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 28vh 10vh 28vh 1fr;
  grid-template-rows: 2vh 1fr 28vh 10vh 28vh 1fr 2vh;

  overflow-y: hidden;
  z-index: 10;
}

.main-box {
  grid-row: 4 / span 1;
  grid-column: 3 / span 1;

  width: 100%;
  height: 100%;

  background: black;

  z-index: 10;
}

.main-canvas {
  grid-row: 3 / span 3;
  grid-column: 2 / span 3;

  width: 100%;
  height: 100%;

  outline: 3px solid black;
  outline-offset: 10px;
}

.main-box-animation {
  animation-name: to_grey;
  animation-duration: 4s;
}

@keyframes to_grey {
  0%   {outline-color: white;}
  25%  {outline-color: white;}
  100% {background-color: white; outline-color: black;}
}

.main-box:hover {
  cursor: pointer;
  outline: 3px solid black;
  outline-offset: 10px;
}

.nav {
  font-size: 3.5vh;
  line-height: 10vh;
  vertical-align: center;

  color: gainsboro;

  background: none;

  text-decoration: none;
}

.nav:hover {
  cursor: pointer;
  color: black;
}

.nav-right {
  grid-column: 4 / span 1;
  grid-row: 4 / span 1;

  width: 100%;

  text-align: right;

  background: none;
}

.nav-left {
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;

  width: 100%;

  text-align: left;

  background: none;
}

.nav-line-right {
  grid-column: 3 / span 3;
  grid-row: 4 / span 1;

  z-index: -5;

  position: relative;
  top: 5vh;

  height: 3px;
  background-color: black;
}

.nav-line-left {
  grid-column: 1 / span 3;
  grid-row: 4 / span 1;

  z-index: -5;

  position: relative;
  top: 5vh;

  height: 3px;
  background-color: black;
}

#wrapper {
  min-height: 100%;
}

.content{
  grid-column: 1 / span 5;
  grid-row: 3 / span 1;

  height: 100%;
}

.navigation {
  grid-column: 1 / span 5 !important;
  grid-row: 2 / span 1 !important;

  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 2vh;
}

.navigation a{
  outline: 3px solid gainsboro;
  outline-offset: -3px;
  border-right: 6px solid gainsboro;
  border-left: 6px solid gainsboro;
  color: gainsboro;
  font-size: 2.5vh;
  vertical-align: middle; 
  line-height: 4vh;

  text-decoration: none;

  padding-left: 1.75vh;
  padding-right: 1.75vh;
  padding-top: .5vh;
  padding-bottom: .5vh;
}

.navigation a:hover{
  outline-color: black;
  border-color: black;
  color: black;
}

.not-implemented {
  cursor: pointer;
}

.not-implemented:hover {
  outline-color: brown !important;
  border-color: brown !important;
  color: brown !important;
}

.active_link {
  outline-color: black;
  border-color: black;
  color: black;
}

.title {
  grid-row: 1 / span 1;
  grid-column: 1 / span 5;
  font-size: 3.25vh;
  line-height: 6vh;
  vertical-align: center;

  padding-left: 2vh;

  border-bottom: 3px solid black;
}

.footer {
  grid-column: 1 / span 5;
  grid-row: 4 / span 1;

  margin-top: 1vh;
  padding-top: 3px;

  font-size: 1.5vh;
  font-weight: normal;

  background-color: white;
  z-index: 1;

  border-top: 3px solid black;
}

.footer a {
  color: gainsboro;

  text-decoration: none;
}

.footer a:hover {
  color: black;
}

.version {
  margin-left: 2vh;
}

.version a {
  color: gainsboro;
}

.version a:hover{
  color: black;
}

.queue:hover {
  cursor: pointer;
  color: black;
}